@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.container {
  width: 900px;
  margin: 40px auto;
  text-align: center;
}

.card {
  background: white;
  border: white;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
  padding: 40px;
  margin: 20px 0px;
}

.img-circle {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.fab {
  font-size: 35px
}

.btn-red {
    background-color: #F8333C;
    color: white;
    padding: 15px 15px;
    border-radius: 5px;
    margin: 35px;
}

body {
  color: #011627;
  background-color: #F7F9FC;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  line-height: lighter;
  text-align: justify;
  margin: 15px;
}

p {
  margin: 35px;
}

h1 {
  color: #011627;
  font-family: Ubuntu, sans-serif;
  font-size: 36px;
  line-height: 1.5;
}

h2 {
  color: #011627;
  font-family: Ubuntu, sans-serif;
  font-size: 24px;
  line-height: 1.5;
}

a {
  color: #F8333C;
  text-decoration: none;
  width: 24px;
}

a:hover {
  color: black;
}

.list-inline > li {
  display: inline-block;
  margin-right: 6px;
}

ul {
  padding: 0px 0px 0px 0px;
  list-style: none;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
