@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.container {
  width: 850px;
  margin: 35px auto;
  text-align: center;
}

.card {
  background: white;
  border: white;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #8EE3EF;
  padding: 25px;
  margin: 25px 0px;
}

.img-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.fab {
  font-size: 35px
}

.btn-blue {
    background-color: #0F7173;
    color: white;
    padding: 15px 15px;
    border-radius: 4px;
    margin: 35px;
}

body {
  color: #233233;
  background-color: #37718E;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.0;
  text-align: justify;
  margin: 15px;
}

p {
  margin: 35px;
}

h1 {
  color: #272932;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  line-height: 1.0;
}

h2 {
  color: #272932;
  font-family: Roboto, sans-serif;
  font-size: 27px;
  line-height: 1.0;
}

a {
  color: #F05D5E;
  text-decoration: none;
  width: 15px;
}

a:hover {
  color: black;
}

.list-inline > li {
  display: inline-block;
  margin-right: 7px;
}

ul {
  padding: 0px 0px 0px 0px;
  list-style: none;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
